  
*{
    box-sizing: border-box; 
 }
 body{
     width: 1080px;
     margin: auto;
     
 }
 body main{
     
 padding: 60px;
 }
 body header  {
     margin-bottom: -30px ;
 }
 header  {
     
      
     background-color:#ddd;
     height: 80px;
     padding: 8px 0 ; 
     
     
 }
 header  div {
     margin-top: -4.5%;
     margin-left: 22%;
 }
 
 
 header a{
 
     
     text-decoration: none;
     text-transform: capitalize;
     padding: 0 50px ; 
 
    
 
     
 }  
  header  img { 
     
     margin-left:60px ;
       margin-top: -4.5px; 
      
      
 }  
 
     
 
 main section img{
     padding-right: 20px ;
     padding-top: 20px;
     
 }
 
 figure{
    
  margin: 30px 0 ;
     
 }
 figure .one{
     margin: 0px 26px
 }
 
 
 
 
 footer{
     background-color: #ddd;
     width: 100%;
     padding: 40px;
     
     clear: both;
 }
 
 
 main section img {
     width: 50%;
     float: left;
     padding: 0;
     padding-bottom: 30px;
        
   
 
 }
 main div {
     width: 50%;
     float: left ;
     padding-left: 30px;
     
 }
 main section button{
     float: right;
     margin-right: 390px ;
  
 }
 button{
     position: relative;
     left: 140px;
     background-color:#ddd;
     width:200px ;
      top: 22px;
     height: 25px;
 
 }
 div p {
     overflow: auto;
     height: 338px;
 }
 main div h1{
    font-weight: bold;
    margin-bottom: 3px;
}

 
     
 
 

